@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617; /* Slate 950 */
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}